 @media screen and (max-width:768px) {
  .container{
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  
  }
}

@media screen and (min-width:768px) {
  .container{
  max-width: 1000px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  
  }
}
    @media screen and (min-width:1024px) {
      .container{
        max-width: 1280px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
      
      }
    }

   
    @media screen and (min-width:768px){
.main{
padding-top: 60px;
  display: flex;
}
    }
/* Left Column */

@media screen and (max-width:768px) {
  .poke{
  
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width:768px) {
  .poke{
    margin-top: 74px;
    margin-right: 40px;
  }
}
@media screen and (min-width:1024px){
.poke {
 margin-top: 159px;
 
}
}
@media screen and (max-width:768px) {
  .hero-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #2C2C2C;
  }
}
@media screen and (min-width:768px) {
  .hero-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 120%;
  }
}

@media screen and (min-width:1024px) {
  .hero-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    color: #2C2C2C;
    margin-bottom: 28px;
    }
}
  
@media screen and (max-width:768px) {
  .hero-wrap{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  font-family: 'Roboto';
  color: #2C2C2C;
  margin-bottom: 28px;
  }
  }

@media screen and (min-width:768px) {
.hero-wrap{
max-width: 490px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #2C2C2C;
margin-bottom: 28px;
}
}


.hero-button{
    border-radius: 30px;
    cursor: pointer;
    background-color: #BBF330;   
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 1.5;
color: #2C2C2C;
padding: 6px 18px;
border: none;
margin-right: 160px;
}
.hero-button:hover {
  background-color:#B5FF00;
}
 

/* Swiper slide */


  img {
    display: block;
}

@media screen and (max-width:768px){
  .img-swiper {
    visibility: hidden;
  }
  }
  @media screen and (min-width:768px){
    .img-swiper {
      max-width: 292px;
      height: 292px;
      background-color: #FEFEFE;
      border: 14px solid #FFE550;
      border-radius: 50%;  
    }
    }

  @media screen and (min-width:1024px)   {
.img-swiper{
    max-width: 528px;
    height: 528px;
    background-color: #FEFEFE;
    border: 26px solid #FFE550;
    border-radius: 50%;  
}
    }

@media screen and (max-width:768px){
.swiper {
  visibility: hidden;
}
}
@media screen and (min-width:768px){
.swiper {
    max-width: 320px;
    height: 320px;
    position: relative;
    box-sizing: border-box;
    background: #FEFEFE;
  }
}

@media screen and (min-width:1024px){
  .swiper {
      max-width: 608px;
      height: 608px;
      position: relative;
      box-sizing: border-box;
      background: #FEFEFE;
    }
  }
  
 

.swiper-slide {
align-items: center;
display: flex;
justify-content: center;
}

.swiper-button-prev {
color: #2C2C2C;
left: 32px;
background: #FEFEFE;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
border-radius: 8px;
width: 40px;
height: 48px;
font-weight: 600;

}
@media screen and (max-width:1024px) {
  .swiper-button-prev{
    left: 10px;
  }
}

.swiper-button-next {
color: #2C2C2C;
background: #FEFEFE;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
border-radius: 8px;
right: 32px;
width: 40px;
height: 48px;
font-weight: 600;
}
@media screen and (max-width:1024px) {
  .swiper-button-next{
    right: 10px;
  }
}

@media screen and (max-width:1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    color: #2C2C2C;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    width: 28px;
     height: 34px;
    font-weight: 500;
    --swiper-navigation-size: 25px;
  }
  }




.swiper-button-prev:focus,
.swiper-button-next:focus,
.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: #7EB101;
}

